
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <textarea name="editor1"></textarea>
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace('editor1', {
       filebrowserImageUploadUrl: '@Url.Action("UploadImage","Editor")',
        filebrowserBrowseUrl: '../Image/',
    });
</script>

